In [1]:
# Import necessary libraries
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [2]:
# Import data
data = pd.read_csv("../preprocessing/data.csv")
data.head()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,-0.731989,-0.249434,-0.424900,-0.356934,-0.349079,-0.466786,-0.806490,-0.678661,-0.707313,-0.675349,-0.476070,-0.511333,-0.960380,-0.528979,-0.305482,-0.525551,0.36068
1,0.786961,0.134325,-0.469552,-0.356934,-0.454576,2.605605,-1.221758,-0.678661,-0.916995,0.573963,0.110074,-0.591796,0.688601,0.818642,0.087735,0.234227,0.36068
2,0.447135,0.518084,-0.107668,0.108889,-0.454576,-0.466786,1.269843,2.673451,-0.916995,-0.675349,-0.476070,-0.109020,0.826016,-0.383805,-0.099870,-0.525551,0.36068
3,-0.358775,0.518084,-0.462063,-0.347294,-0.454576,-0.466786,-1.014125,-0.399319,-0.916995,-0.675349,-0.476070,-0.551565,-0.905414,-0.364368,-0.261102,-0.525551,0.36068
4,0.117878,0.518084,0.154492,-0.356934,1.019822,-0.466786,0.439310,-0.678661,0.550784,-0.675349,-0.476070,-0.269945,-0.740516,-0.115060,0.650438,-0.525551,0.36068

In [3]:
wo_data = pd.read_csv("../preprocessing/wo_data.csv")
wo_data.head()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,-0.810966,-0.062275,-0.630625,-0.529667,-0.357800,-0.501317,-0.662280,-0.628865,-0.628196,-0.696110,-0.642010,-0.651988,-0.914847,-0.771036,-0.678082,-0.506436,0.394642
1,2.237798,0.276522,-0.817155,-0.529667,-0.718962,6.095218,-1.110580,-0.628865,-0.851814,1.305085,1.049459,-0.890827,1.495470,4.389703,2.056376,0.287007,0.394642
2,-0.061869,0.615320,-0.785871,-0.492554,-0.718962,-0.501317,-0.886431,-0.148039,-0.851814,-0.696110,-0.642010,-0.771407,-0.834503,-0.140655,-0.369465,-0.506436,0.394642
3,0.908179,0.615320,0.035721,-0.529667,0.932390,-0.501317,1.579218,-0.628865,1.831615,-0.696110,-0.642010,0.542207,-0.392612,-0.139689,0.472546,-0.506436,0.394642
4,0.128307,0.615320,0.867266,1.004692,0.038192,-0.501317,-0.213982,-0.148039,-0.180957,-0.696110,-0.642010,-0.293730,1.495470,-0.127501,-0.172559,-0.506436,0.394642

In [4]:
# Create K-means model
for n in range(3, 11):
    print (f"------------------{n}------------------")
    km_model = KMeans(n_clusters = n, n_init = 20)
    km_model.fit(data.values)
    print('Silhoutte score of our model is ' + str(silhouette_score(data, km_model.labels_)))

------------------3------------------
Silhoutte score of our model is 0.2554839380508195
------------------4------------------
Silhoutte score of our model is 0.2003482482188814
------------------5------------------
Silhoutte score of our model is 0.19586494549553674
------------------6------------------
Silhoutte score of our model is 0.1963020780457233
------------------7------------------
Silhoutte score of our model is 0.20317660822080214
------------------8------------------
Silhoutte score of our model is 0.21663907581538294
------------------9------------------
Silhoutte score of our model is 0.22175412548772366
------------------10------------------
Silhoutte score of our model is 0.21638026472811678

In [5]:
# Create K-means model
for n in range(3, 11):
    print (f"------------------{n}------------------")
    wo_km_model = KMeans(n_clusters = n, n_init = 20)
    wo_km_model.fit(wo_data.values)
    print('Silhoutte score of our model is ' + str(silhouette_score(wo_data, wo_km_model.labels_)))

------------------3------------------
Silhoutte score of our model is 0.21131389761406755
------------------4------------------
Silhoutte score of our model is 0.18906275945750087
------------------5------------------
Silhoutte score of our model is 0.1652531818014638
------------------6------------------
Silhoutte score of our model is 0.15757863606680153
------------------7------------------
Silhoutte score of our model is 0.16623203942160752
------------------8------------------
Silhoutte score of our model is 0.1643241149307001
------------------9------------------
Silhoutte score of our model is 0.16330432138863382
------------------10------------------
Silhoutte score of our model is 0.15713351233335313

We should divide customers to some groups
If we divide them in three groups(good, normal, bad) we have better accuracy and also it can be useful

In [6]:
km_model = KMeans(n_clusters = 3, n_init = 20)
km_model.fit(data.values)
print('Silhoutte score of our model is ' + str(silhouette_score(data, km_model.labels_)))

Silhoutte score of our model is 0.25552053232041105